
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
.obj

# Qt-es

.qmake.cache
.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
.moc

Makefile
Makefile.Debug
Makefile.Release
qrc_pencil.cpp
pencil-buildroot.amd64
pencil-buildroot.i386
Pencil2D.app
*.zip

# QtCreator

*.autosave
build-pencil-Desktop-Debug/*

# Mac stuff

.DS_Store
*.pbproj
*.xcodeproj
*.xcworkspace
xcshareddata
*.pbxproj
*.mak
*.app

# Visual Studio

*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.opensdf
*.suo
*.pdb
release
debug
ipch
*.VC.db
*.opendb
.vs
*.rc

tests/tests
bin/*
