# Travis-CI configuration file for SuperTuxKart
#
# Configuration manual:
# http://docs.travis-ci.com/user/build-configuration/

language: cpp
compiler: g++4.9
sudo: required
dist: trusty

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - ubuntu-sdk-team
    packages:
    - g++-4.9
    - build-essential
    - qtbase5-dev
    - qttools5-dev 
    - qtmultimedia5-dev
    - libqt5svg5-dev
    - libqt5xmlpatterns5-dev
before_script:
  - qmake --version

script:
  - qmake
  - make
