[Desktop Entry]
Version=1.1
Type=Application
Name=Pencil2D
GenericName=Animation Software
GenericName[de]=Animationssoftware
Comment=Create traditional hand-drawn animation using both bitmap and vector graphics
Comment[de]=Traditionelle handgezeichnete Animation sowohl mit Raster- als auch mit Vektorgrafik schaffen
Icon=pencil2d
Exec=Pencil2D %f
MimeType=application/x-pencil-pcl;application/x-pencil-pclx;
Categories=Graphics;2DGraphics;VectorGraphics;RasterGraphics;Qt;AudioVideo;Video
Keywords=picture;drawing;vector;bitmap;cartoon;
Keywords[de]=Bild;Zeichnen;Vektor;Raster;Zeichentrick;
