[Desktop Entry]
Version=1.1
Type=Application
Name=Pencil2D
GenericName=Animation Software
Comment=Create traditional hand-drawn animation using both bitmap and vector graphics
Icon=org.pencil2d.Pencil2D
Exec=pencil2d %f
MimeType=application/x-pencil2d-pcl;application/x-pencil2d-pclx;
Categories=Graphics;2DGraphics;VectorGraphics;RasterGraphics;Qt;
Keywords=picture;drawing;vector;bitmap;cartoon;animation;


# Translations



# Translations


# Translations


# Translations
Name[ar]=بنسل2دي
GenericName[ar]=برنامج تحريك الرسومات
Comment[ar]=أنشئ رسومات متحركة  كلاسيكية بإستخدام الصور النقطية و المتجهة
Name[ca]=Pencil2D
GenericName[ca]=Programari d'animació
Comment[ca]=Crea animacions tradicionals a mà utilitzant gràfics de mapa de bits i  de vectors
Name[cs]=Pencil2D
GenericName[cs]=Animační program
Comment[cs]=Tvořte tradiční ručně kreslenou animaci pomocí bitmapové i vektorové grafiky
Icon[cs]=org.pencil2d.Pencil2D
Name[da]=Pencil2D
GenericName[da]=Animationssoftware
Comment[da]=Lav traditionel håndtegnet animation, ved brug af både bitmap og vektorgrafik
Icon[da]=org.pencil2d.Pencil2D
Name[de]=Pencil2D
GenericName[de]=Animationssoftware
Comment[de]=Traditionelle handgezeichnete Animation sowohl mit Raster- als auch mit Vektorgrafik erstellen
Icon[de]=org.pencil2d.Pencil2D
Name[el]=Pencil2D
GenericName[el]=Λογισμικό κινουμένων σχεδίων
Comment[el]=Δημιουργήστε παραδοσιακά, ζωγραφισμένα στο χέρι κινούμενα σχέδια χρησιμοποιώντας το bitmap και διανυσματική γραφιστική.
Name[es]=Pencil2D
GenericName[es]=Programa de Animación
Comment[es]=Crea animaciones tradicionales hechas a mano usando mapas de bits o vectores gráficos
Name[et]=Pencil2D
GenericName[et]=Animeerimistarkvara
Comment[et]=Loo traditsioonilisi käsitsijoonistatud animatsioone kasutades nii raster- kui vektorgraafikat.
Name[fr]=Pencil2D
GenericName[fr]=Logiciel d'Animation
Comment[fr]=Créez une animation traditionnelle dessinée à la main à l'aide de graphiques bitmap et vectoriels
Icon[fr]=org.pencil2d.Pencil2D
Name[he]=Pencil2D
GenericName[he]=תוכנת הנפשה
Comment[he]=צרו הנפשה מסורתית מצויירת ביד באמצעות כלי מפת ביטים וכלים וקטוריים
Name[it]=Pencil2D
GenericName[it]=Software di animazione
Comment[it]=Crea dell'animazione tradizionale disegnata a mano usando sia la grafica bitmap che quella vettoriale
Name[hu_HU]=Pencil2D
GenericName[hu_HU]=Animációs Szoftver
Comment[hu_HU]=A Pencil2D egy animáció készítő/rajzoló szoftver Mac OS X, Windows és Linux rendszerekre. Hagyományos, kézzel rajzolt animációk készítésére alkalmas. Bitkép és vagy vektorgrafika használatával.
Name[kab]=Pencil2D
GenericName[kab]=Aseɣẓan n usemwwiwel
Comment[kab]=Snulfu-d asemwwiwel amansay yettusunɣen s ufus s wudlifen bitmap akked wudlifen imawayen
Name[pl]=Pencil2D
GenericName[pl]=Oprogramowanie do tworzenia animacji
Comment[pl]=Twórz tradycyjne ręcznie rysowane animacje używając zarówno bitmap, jak i grafiki wektorowej
Name[pt]=Pencil2D
GenericName[pt]=Programa de Animação
Comment[pt]=Cria animações tradicionais feitas a mão utilizando bitmaps e vectores gráficos 
Name[pt_BR]=Pencil2D
GenericName[pt_BR]=Software de animação
Comment[pt_BR]=Crie animações tradicionais feitas à mão usando gráficos de bitmap e vetoriais.
Name[ru]=Pencil2D
GenericName[ru]=Анимационное ПО
Comment[ru]=Создавайте традиционную рисованную анимацию, используя растровую и векторную графики.
Name[nl_NL]=Pencil2D
GenericName[nl_NL]=Animatie software
Comment[nl_NL]=Maak traditionele handgetekende animaties met Bitmap en Vector afbeeldingen
Name[sl]=Svinčnik2D
GenericName[sl]=Program za animacijo
Comment[sl]=Ustvarite tradicionalno ročno risano animacijo s pomočjo bitne in vektorske grafike
Name[sv]=Pencil2D
GenericName[sv]=Animeringsprogram
Comment[sv]=Skapa traditionellt handritade animationer, med både bitmap- och vektorgrafik
Icon[sv]=org.pencil2d.Pencil2D
Name[hi_IN]=कोयला कलम २ डी
GenericName[hi_IN]=एनीमेशन सॉफ्टवेयर
Comment[hi_IN]=बिटमैप और वेक्टर दृश्यों दोनों को हाथ के  चित्रवर्णन से चलचित्र बनाइए
Icon[hi_IN]=org.pencil2d.Pencil2D
Name[tr]=Pencil2D
GenericName[tr]=Animasyon Yazılımı
Comment[tr]=Hem bitmap hem de vektör grafikleri kullanarak geleneksel elle çizilmiş animasyonlar oluşturun
Icon[tr]=org.pencil2d.Pencil2D
Name[vi]=Pencil 2D
GenericName[vi]=Phần mềm làm phim hoạt hình
Comment[vi]=Tạo nên các chuyển Động hoạt hình vẽ tay truyền thống bằng các hình ảnh Bitmap và Vector
Name[zh_CN]=Pencil2D
GenericName[zh_CN]=动画软件
Comment[zh_CN]=用位图和矢量两种图像技术创作传统手绘动画
Name[zh_TW]=Pencil2D
GenericName[zh_TW]=動畫軟體
Comment[zh_TW]=以點陣圖跟向量圖兩種方式創作傳統手繪動畫
Icon[zh_TW]=org.pencil2d.Pencil2D
