[Desktop Entry]
Version=1.1
Type=Application
Name=Pencil2D
GenericName=Animation Software
Comment=Create traditional hand-drawn animation using both bitmap and vector graphics
Icon=org.pencil2d.Pencil2D
Exec=pencil2d %f
MimeType=application/x-pencil2d-pcl;application/x-pencil2d-pclx;
Categories=Graphics;2DGraphics;VectorGraphics;RasterGraphics;Qt;
Keywords=picture;drawing;vector;bitmap;cartoon;animation;

# Translations
Comment[ar]=إنشاء رسوم متحركة كلاسيكية باستخدام الصور النقطية والمتجهة
GenericName[ar]=برنامج رسوم متحركة
Name[ar]=بنسل2دي
Icon[ar]=org.pencil2d.Pencil2D
Comment[bg]=Създайте традиционна ръчно нарисувана анимация, използвайки както растерни, така и векторни графики
GenericName[bg]=Софтуер за анимация
Name[bg]=Pencil2D
Icon[bg]=org.pencil2d.Pencil2D
Comment[ca]=Crea animacions tradicionals a mà utilitzant gràfics de mapa de bits i  de vectors
GenericName[ca]=Programari d'animació
Name[ca]=Pencil2D
Icon[ca]=org.pencil2d.Pencil2D
Comment[cs]=Tvořte tradiční ručně kreslenou animaci pomocí bitmapové i vektorové grafiky
GenericName[cs]=Animační program
Name[cs]=Pencil2D
Icon[cs]=org.pencil2d.Pencil2D
Comment[da]=Lav traditionel håndtegnet animation, ved brug af både bitmap og vektorgrafik
GenericName[da]=Animationssoftware
Name[da]=Pencil2D
Icon[da]=org.pencil2d.Pencil2D
Comment[de]=Erstellen Sie traditionelle, handgezeichnete Animationen, sowohl mit Raster-, als auch mit Vektorgrafik.
GenericName[de]=Animationssoftware
Name[de]=Pencil2D
Icon[de]=org.pencil2d.Pencil2D
Comment[el]=Δημιουργήστε παραδοσιακά, ζωγραφισμένα στο χέρι κινούμενα σχέδια χρησιμοποιώντας το bitmap και διανυσματική γραφιστική.
GenericName[el]=Λογισμικό κινουμένων σχεδίων
Name[el]=Pencil2D
Icon[el]=org.pencil2d.Pencil2D
Comment[es]=Crea animaciones tradicionales hechas a mano usando mapas de bits o vectores gráficos
GenericName[es]=Programa de Animación
Name[es]=Pencil2D
Icon[es]=org.pencil2d.Pencil2D
Comment[et]=Loo traditsioonilisi käsitsijoonistatud animatsioone kasutades nii raster- kui vektorgraafikat.
GenericName[et]=Animeerimistarkvara
Name[et]=Pencil2D
Icon[et]=org.pencil2d.Pencil2D
Comment[fa]=با کمک نگاره های برداری و بیتمپ ها ‍پویانمای سنتی و دستی بسازید
GenericName[fa]=نرم افزار پویانمایی
Name[fa]=Pencil2D
Icon[fa]=org.pencil2d.Pencil2D
Comment[fr]=Créez une animation traditionnelle dessinée à la main à l'aide de graphismes bitmap et vectoriels
GenericName[fr]=Logiciel d'Animation
Name[fr]=Pencil2D
Icon[fr]=org.pencil2d.Pencil2D
Comment[he]=צרו הנפשה מסורתית מצויירת ביד באמצעות כלי מפת ביטים וכלים וקטוריים
GenericName[he]=תוכנת הנפשה
Name[he]=Pencil2D
Icon[he]=org.pencil2d.Pencil2D
Comment[id]=Rangkai animasi khas dengan grafik bitmap maupun vektor
GenericName[id]=Animation Software
Name[id]=Pencil2d
Icon[id]=org.pencil2d.Pencil2D
Comment[it]=Crea dell'animazione tradizionale disegnata a mano usando sia la grafica bitmap che quella vettoriale
GenericName[it]=Software di animazione
Name[it]=Pencil2D
Icon[it]=org.pencil2d.Pencil2D
Icon[ja]=org.pencil2d.Pencil2D
Comment[ko]=전통적 손그림 애니메이션을 비트맵과 벡터, 모두 사용하여 만드세요.
GenericName[ko]=애니메이션 소프트웨어
Name[ko]=Pencil2D
Icon[ko]=org.pencil2d.Pencil2D
Comment[yue]=以點陣圖跟向量圖兩種方式創作傳統手繪動畫
GenericName[yue]=动画软件
Name[yue]=Pencil2D
Icon[yue]=org.pencil2d.Pencil2D
Comment[uk_UA]=Створення традиційної мальованої анімації з використанням як растрової, так і векторної графіки
GenericName[uk_UA]=Програмне забезпечення для анімації
Name[uk_UA]=Pencil2D
Icon[uk_UA]=org.pencil2d.Pencil2D
Comment[hu_HU]=A Pencil2D egy animáció készítő/rajzoló szoftver Mac OS X, Windows és Linux rendszerekre. Hagyományos, kézzel rajzolt animációk készítésére alkalmas. Bitkép és vagy vektorgrafika használatával.
GenericName[hu_HU]=Animációs Szoftver
Name[hu_HU]=Pencil2D
Icon[hu_HU]=org.pencil2d.Pencil2D
Comment[nb]=Lag tradisjonell håndtegnet animasjon ved hjelp av både bitmap og vektorgrafikk
GenericName[nb]=Animasjonsprogramvare
Name[nb]=Pencil2D
Icon[nb]=org.pencil2d.Pencil2D
Comment[kab]=Snulfu-d asemwwiwel amansay yettusunɣen s ufus s wudlifen bitmap akked wudlifen imawayen
GenericName[kab]=Aseɣẓan n usemwwiwel
Name[kab]=Pencil2D
Icon[kab]=org.pencil2d.Pencil2D
Comment[pl]=Twórz tradycyjne ręcznie rysowane animacje używając zarówno bitmap, jak i grafiki wektorowej
GenericName[pl]=Oprogramowanie do tworzenia animacji
Name[pl]=Pencil2D
Icon[pl]=org.pencil2d.Pencil2D
Comment[pt]=Cria animações tradicionais feitas a mão utilizando bitmaps e vectores gráficos 
GenericName[pt]=Programa de Animação
Name[pt]=Pencil2D
Icon[pt]=org.pencil2d.Pencil2D
Comment[pt_BR]=Crie animações tradicionais feitas à mão usando gráficos de bitmap e vetoriais.
GenericName[pt_BR]=Software de animação
Name[pt_BR]=Pencil2D
Icon[pt_BR]=org.pencil2d.Pencil2D
Icon[ro]=org.pencil2d.Pencil2D
Comment[ru]=Создавайте традиционную рисованную анимацию, используя растровую и векторную графики.
GenericName[ru]=Анимационное ПО
Name[ru]=Pencil2D
Icon[ru]=org.pencil2d.Pencil2D
Comment[nl_NL]=Maak traditionele handgetekende animaties met Bitmap en Vector afbeeldingen
GenericName[nl_NL]=Animatie software
Name[nl_NL]=Pencil2D
Icon[nl_NL]=org.pencil2d.Pencil2D
Comment[si]=බිට්මැප් සහ දෛශික ග්‍රැෆික් යන දෙකෙන්ම සාම්ප්‍රදායික අතින් ඇද ගත් සජීවිකරණයක් සාදන්න
GenericName[si]=සජීවීකරණ මෘදුකාංගය
Name[si]=Pencil2D
Icon[si]=org.pencil2d.Pencil2D
Comment[sl]=Ustvarite tradicionalno ročno risano animacijo s pomočjo bitne in vektorske grafike
GenericName[sl]=Program za animacijo
Name[sl]=Svinčnik2D
Icon[sl]=org.pencil2d.Pencil2D
Comment[sv]=Skapa traditionellt handritade animationer, med både bitmap- och vektorgrafik
GenericName[sv]=Animeringsprogram
Name[sv]=Pencil2D
Icon[sv]=org.pencil2d.Pencil2D
Icon[ta]=org.pencil2d.Pencil2D
Comment[hi_IN]=बिटमैप और वेक्टर दृश्यों दोनों को हाथ के  चित्रवर्णन से चलचित्र बनाइए
GenericName[hi_IN]=एनीमेशन सॉफ्टवेयर
Name[hi_IN]=कोयला कलम २ डी
Icon[hi_IN]=org.pencil2d.Pencil2D
Comment[tr]=Hem bitmap hem de vektör grafikleri kullanarak geleneksel elle çizilmiş animasyonlar oluşturun
GenericName[tr]=Animasyon Yazılımı
Name[tr]=Pencil2D
Icon[tr]=org.pencil2d.Pencil2D
Comment[vi]=Tạo nên hoạt hình vẽ tay truyền thống bằng các đồ họa bitmap và vector
GenericName[vi]=Phần mềm Hoạt hình
Name[vi]=Pencil2D
Icon[vi]=org.pencil2d.Pencil2D
Comment[zh_CN]=用位图和矢量两种图像技术创作传统手绘动画
GenericName[zh_CN]=动画软件
Name[zh_CN]=Pencil2D
Icon[zh_CN]=org.pencil2d.Pencil2D
Comment[zh_TW]=以點陣圖跟向量圖兩種方式創作傳統手繪動畫
GenericName[zh_TW]=動畫軟體
Name[zh_TW]=Pencil2D
Icon[zh_TW]=org.pencil2d.Pencil2D
Comment[fil]=Gumawa nang tradisyonal na mano-manong animasyon gamit ang parehong bitmap at vector graphics
GenericName[fil]=Animation Software
Name[fil]=Lapis2D
Icon[fil]=org.pencil2d.Pencil2D
