[Desktop Entry]
Version=1.1
Type=Application
Name=Pencil2D
GenericName=Animation Software
Comment=Create traditional hand-drawn animation using both bitmap and vector graphics
Icon=pencil2d
Exec=pencil2d %f
MimeType=application/x-pencil-pcl;application/x-pencil-pclx;
Categories=Graphics;2DGraphics;VectorGraphics;RasterGraphics;Qt;AudioVideo;Video;
Keywords=picture;drawing;vector;bitmap;cartoon;
Keywords[de]=Bild;Zeichnen;Vektor;Raster;Zeichentrick;


# Translations
Name[he]=Pencil2D
GenericName[he]=תוכנת הנפשה
Comment[he]=צרו הנפשה מסורתית מצויירת ביד באמצעות כלי מפת ביטים וכלים וקטוריים
Icon[he]=pencil2d
Name[sl]=Svinčnik2D
GenericName[sl]=Program za animacijo
Comment[sl]=Ustvarite tradicionalno ročno risano animacijo s pomočjo bitne in vektorske grafike
Icon[sl]=svinčnik2d
Name[pt]=Pencil2D
GenericName[pt]=Programa de Animação
Comment[pt]=Cria animações tradicionais feitas a mão utilizando bitmaps e vectores gráficos 
Icon[pt]=pencil2d
Name[pt_BR]=Pencil2D
GenericName[pt_BR]=Software de animação
Comment[pt_BR]=Crie animações tradicionais feitas à mão usando gráficos de bitmap e vetoriais.
Icon[pt_BR]=pencil2d
Name[ru]=Pencil2D
GenericName[ru]=Анимационное ПО
Comment[ru]=Создавайте традиционную рисованную анимацию с использованием растровой и векторной графики
Icon[ru]=pencil2d
Name[it]=Pencil2D
Icon[it]=pencil2d
Name[cs]=Pencil2D
GenericName[cs]=Animační program
Comment[cs]=Tvořte tradiční ručně kreslenou animaci pomocí bitmapové i vektorové grafiky
Icon[cs]=pencil2d
Name[de]=Pencil2D
GenericName[de]=Animationssoftware
Comment[de]=Traditionelle handgezeichnete Animation sowohl mit Raster- als auch mit Vektorgrafik schaffen
Icon[de]=pencil2d
Name[es]=Pencil2D
GenericName[es]=Programa de Animación
Comment[es]=Crea animaciones tradicionales hechas a mano usando mapas de bits o vectores gráficos
Icon[es]=pencil2d
Name[et]=Pencil2D
GenericName[et]=Animeerimistarkvara
Icon[et]=pencil2d
Name[vi]=Pencil 2D
GenericName[vi]=Phần mềm làm phim hoạt hình
Comment[vi]=Tạo nên các chuyển Động hoạt hình vẽ tay truyền thống bằng các hình ảnh Bitmap và Vector
Icon[vi]=Pencil 2D
Name[fr]=Pencil2D
GenericName[fr]=Logiciel d'Animation
Comment[fr]=Créez une animation traditionnelle dessinée à la main à l'aide de graphiques bitmap et vectoriels
Icon[fr]=pencil2d
Name[zh_TW]=Pencil2D
GenericName[zh_TW]=動畫軟體
Comment[zh_TW]=利用點陣圖跟向量圖兩種方式創作傳統手繪動畫
Icon[zh_TW]=pencil2d
