
clone_depth: 3

image:
  - Visual Studio 2019
  - Visual Studio 2017
  - Visual Studio 2015

platform:
  - x86
  - x64

skip_commits:
  files:
    - '*.md'
    - docs/*
    - util/appveyor-msvc.yml

init:
  - ver
  - echo %PLATFORM%
#  - dir C:\Qt
#  - dir C:\Qt\Tools\

before_build:
  - set QTDIR=C:\Qt\%qt%
  - set PATH=%QTDIR%\bin;C:\Qt\Tools\%mingw%\bin;%PATH%;
  - qmake --version

build_script:
  - echo %APPVEYOR_BUILD_FOLDER%
  - md build
  - cd build
  - qmake "%APPVEYOR_BUILD_FOLDER%\pencil2d.pro" CONFIG+=GIT CONFIG+=Release CONFIG+=PENCIL2D_NIGHTLY
  - mingw32-make -j2

after_build:
  - windeployqt "%APPVEYOR_BUILD_FOLDER%\build\app\release\pencil2d.exe"

test_script:
  - echo "Running tests"
  - cd "%APPVEYOR_BUILD_FOLDER%\build\tests\bin"
  - tests.exe

for:
- matrix:
    only:
      - image: Visual Studio 2019
  install:
    - if %PLATFORM%==x86   set qt=5.15\mingw81_32
    - if %PLATFORM%==x64   set qt=5.15\mingw81_64
    - if %PLATFORM%==x86   set mingw=mingw810_32
    - if %PLATFORM%==x64   set mingw=mingw810_64
- matrix:
    only:
      - image: Visual Studio 2017
  install:
    - if %PLATFORM%==x86   set qt=5.12\mingw73_32
    - if %PLATFORM%==x64   set qt=5.12\mingw73_64
    - if %PLATFORM%==x86   set mingw=mingw730_32
    - if %PLATFORM%==x64   set mingw=mingw730_64

- matrix:
    only:
      - image: Visual Studio 2015
  install:
    - if %PLATFORM%==x86   set qt=5.9\mingw53_32
    - if %PLATFORM%==x86   set mingw=mingw530_32

matrix:
  exclude:
    - image: Visual Studio 2015
      platform: x64
