
clone_depth: 1

image: Visual Studio 2022

platform: x64

skip_commits:
  files:
    - '*.md'
    - docs/*
    - util/appveyor-msvc.yml
    - /.github/*

environment:
  QTDIR: C:\Qt\6.5.3\mingw_64
  MINGWDIR: C:\Qt\mingw_64\Tools\mingw1120_64

init:
  - ver
  - dir C:\Qt
  - dir C:\Qt\6.5.3
  - dir C:\Qt\mingw_64\Tools

install:
  - set PATH=%QTDIR%\bin;%MINGWDIR%\bin;%PATH%
  - qmake --version

build_script:
  - echo %APPVEYOR_BUILD_FOLDER%
  - md build
  - cd build
  - qmake "%APPVEYOR_BUILD_FOLDER%\pencil2d.pro" CONFIG+=GIT CONFIG+=Release CONFIG+=PENCIL2D_NIGHTLY
  - mingw32-make -j2

after_build:
  - windeployqt "%APPVEYOR_BUILD_FOLDER%\build\app\release\pencil2d.exe"

test_script:
  - echo "Running tests"
  - cd "%APPVEYOR_BUILD_FOLDER%\build\tests\release"
  - tests.exe
