
clone_depth: 1

image:
  - Visual Studio 2022

platform:
  - x64

skip_commits:
  files:
    - '*.md'
    - docs/*
    - util/appveyor-mingw.yml
    - /.github/*

install:
  - call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"
  - set qt=6.5.3\msvc2019_64

init:
  - ver
  - echo %PLATFORM%

before_build:
  - set QTDIR=C:\Qt\%qt%
  - set PATH=%PATH%;%QTDIR%\bin
  - cmake --version

build_script:
  - cd
  - md build
  - cd build
  - cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=%QTDIR% -DPENCIL2D_NIGHTLY=ON -DAPP_VERSION=%APPVEYOR_BUILD_VERSION%
  - cmake --build . --config Release --parallel --target pencil2d
  - cmake --build . --config Release --parallel --target pencil2d_tests

after_build:
  - windeployqt "%APPVEYOR_BUILD_FOLDER%\build\Release\pencil2d.exe"

test_script:
  - echo "Running tests"
  - ctest -C Release --output-on-failure
