name: Documentation Update

on:
  push: { branches: [ master ] }

jobs:
  ghp:
    name: GitHub Pages
    if: github.repository_owner == 'pencil2d'
    runs-on: ubuntu-latest

    steps:
    - name: Check out Pencil2D source code
      uses: actions/checkout@v2
    - name: Check out the documentation repository
      uses: actions/checkout@v2
      with:
        repository: pencil2d/pencil-docs
        token: ${{secrets.docs_repo_token}}
        path: gh-pages

    - name: Install dependencies
      run: |
        sudo apt-get update -yq
        sudo apt-get install -yq --no-install-suggests --no-install-recommends graphviz
        curl -fsSLO https://www.doxygen.nl/files/doxygen-1.9.6.linux.bin.tar.gz
        tar xf doxygen-1.9.6.linux.bin.tar.gz
        realpath doxygen-1.9.6/bin >> "${GITHUB_PATH}"

    - name: Retrieve Qt tagfiles
      working-directory: util/docs
      run: |
        for i in core gui network svg testlib widgets xml xmlpatterns; do
          curl -fsSLO "https://doc.qt.io/qt-5/qt${i}.tags"
        done

    - name: Generate documentation
      run: |
        echo PROJECT_NUMBER=${{github.sha}} >> Doxyfile
        echo HTML_HEADER=util/docs/header.html >> Doxyfile
        echo HTML_FOOTER=util/docs/footer.html >> Doxyfile
        echo HTML_EXTRA_STYLESHEET=util/docs/extra.css >> Doxyfile
        doxygen 2>&1 | tee doxygen.log
        if [ ! -f "docs/html/index.html" ]; then
          echo "::error::Documentation output was not found"
          exit 1
        fi

    - name: Remove old documentation
      run: |
        mv gh-pages/docs/CNAME docs/html/
        rm -rf gh-pages/docs/
    - name: Push updated documentation
      working-directory: gh-pages
      run: |
        mv ../doxygen.log .
        mv ../docs/html docs
        git add --all
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git commit -m "Add generated docs for rev ${{github.repository}}@${{github.sha}}" -m "Generated in Actions run #${{github.run_number}}"
        git push
